html{
  height: 100%;
}

body {
  @include indents-none;
  @include font-weight;
  height: 100%;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: $main-text;
  background-color: $main-background;
}

a {
  color: $main-text;
  text-decoration: none;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex-grow: 1;
}
