.navigation {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.navigation__list {
  @include list-reset;
  @include indents-none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  &--main {
    max-width: 70.6%;
  }
}

.navigation__item {
  margin-right: 25.5px;

  &:last-child {
    margin-right: 0;
  }
}

.navigation__link {
  display: block;
  padding: 10.5px 0;

  &--user {
    position: relative;
    padding-left: 30px;
  }

  &--active,
  &:hover,
  &:focus {
    color: $button;
  }
}

@media (max-width:$max-tablet-width) {

  .navigation__list {
    &--main {
      max-width: 95%;
    }
  }

  .navigation__item {
    font-size: 14px;
    margin-right: 21px;

    &:last-child {
      margin-right: 0;
    }

    &--user {
      width: 20px;
      height: 22px;
    }
  }

  .navigation__link {
    padding: 5.5px 0;

    &--user {
      height: 22px;
      padding: 0;
    }
  }
}

@media (max-width: $max-mobile-width) {

  .navigation {
    box-sizing: border-box;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0 15px;
    flex-direction: column;
    justify-content: flex-start;
    background-color: $background;

    &--opened {
      height: 100%;
      padding-top: 30.5px;
      flex-wrap: nowrap;
      max-height: calc(100vh - 48px);
      overflow: hidden auto;
    }
  }

  .navigation--closed .navigation__item {
    display: none;
  }

  .navigation--closed .navigation__item--user {
    display: block;
    position: absolute;
    top: -32.5px;
    right: 4.65%;
    width: 14px;
    height: auto;
    border: none;
  }

  .navigation--closed .navigation__link--user svg {
    width: auto;
    height: 16px;
    top: 0;
    left: 0;
  }

  .navigation__list {
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .navigation__item {
    margin-right: 0;
    width: 100%;
    font-size: inherit;
    border-top: 1px solid $border;

    &--user {
      height: auto;
      border-bottom: 1px solid $border;
    }
  }

  .navigation__link {
    padding-top: 21.5px;
    padding-bottom: 19.5px;
    padding-left: 15px;

    &--user {
      height: auto;
      padding-left: 45px;
    }
  }
}
